#logo{
  padding: 1000px 10;
  box-align: left;
}

.navbar {
  background-color: #D9F2F8;
  position: sticky;
  width: 100%;
  height: 56px;
  line-height: 56px;
 }

#test {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

#test1 {
  float: left
}

#right{
    float: right;
    padding: 6px 0px;
    align-items: center;
}

#right1{
  float: right;
  padding: 5px 0px;
  align-items: center;
}

#right2{
  float: right;
  padding: 10px 0px;
  align-items: center;
}
